<div class="program" data-flyout-visible="false"
  <% if (!!this['TmdbPosterPath']) { %>
    style="background-image: url(<%= "http://image.tmdb.org/t/p/w92" + this['TmdbPosterPath'] %>);"
  <% } %>>
  <% if (!this['TmdbPosterPath']) { %>
    <div class="meta">
      <span data-prop="Title"><%= Title %></span>
      <span data-prop="ReleaseYear"><%= ReleaseYear %></span>
    </div>
  <% } %>
  <div class="flyout">
    <span data-prop="Title"><%= Title %></span>
    <span data-prop="ReleaseYear">(<%= ReleaseYear %>)</span>
    <div data-prop="Categories"><%= Categories %></div>
    <div data-prop="Subcategories"><%= Subcategories %></div>
    <% if (!!this['Tags']) { %>
      <div data-prop="Tags">Tags: <%= Tags %></div>
    <% } %>
  </div>
</div>